.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: 1em auto;
    padding: 20px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1em;
}